@model CoolCat.PhotoGrapherLancer.Core.Service.ServiceViewModel.VLogin


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->

    <link href="../../Content/Component/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->

    <link href="../../Content/Component/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="../../Content/Component/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->

    <link href="../../Content/Component/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />


    <!-- <link rel="stylesheet" href="../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"> -->
    <!-- Theme style -->

    <link href="../../Content/Component/dist/css/AdminLTE.min.css" rel="stylesheet" />


    <link href="../../Content/Component/plugins/iCheck/square/blue.css" rel="stylesheet" />



    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body class="hold-transition register-page">
    <div class="container">
        <div style="padding-top: 20px;">
            <div class="register-logo">
                <a href="index.html"><b>PHOTO</b>GRAPHY</a>
            </div>


            @using (Html.BeginForm("Login", "Account", FormMethod.Post))

            {


                @Html.AntiForgeryToken()

                <div class="row">



                    <div class="col-md-4 col-md-offset-4">

                        <div class="register-box-body">
                            <p class="login-box-msg">Signin in your Account</p>

                        

                            @if (ViewBag.Message != "")
                            {
                            <div class="text-danger">@ViewBag.Message</div>
                            }

                            <div class="form-group has-feedback">

                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })


                            </div>

                            <div class="form-group has-feedback">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })

                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                            </div>



                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                         
                                            @Html.EditorFor(model => model.RememberMe)RememberMe
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-success btn-block btn-flat">Login</button>
                                </div>
                                <!-- /.col -->
                            </div>




                            <a href="#" class="text-center">Forgot Password</a>
                            <br />
                            <a href="/Account/CreateAccount" class="text-center">Register As A Client</a>
                            <br />  
                            <a href="/Account/CreateAccountPhotoGrapher" class="text-center"> Register As A PhtoGrapher</a>

                        </div>

                    </div>



                </div>
            }
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->

    <script src="../../Content/Component/bower_components/jquery/dist/jquery.min.js"></script>



    <script src="../../Content/Component/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <!-- AdminLTE App -->

    <script src="../../Content/Component/dist/js/adminlte.min.js"></script>


    <script src="../../Content/Component/plugins/iCheck/icheck.min.js"></script>

    <script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
    </script>
</body>
</html>















