@model CoolCat.PhotoGrapherLancer.Core.Entities.PhotoGrapher.PhotoGrapherChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_PhotoGrapherPage.cshtml";
}

@*password change alert message*@
@Html.Raw(TempData["msg"])


<section class="content-header">
    <h1>
        Change
        <small>Your Password</small>
    </h1>

</section>
<br /><br />

<!-- Main content -->
<section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-8 col-md-offset-2">

        <div class="form-horizontal">
         

            @*<hr />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
            <div class="form-group">
                @Html.Label("Current Password", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                    @Html.ValidationMessage("Wrong", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("New Password", htmlAttributes: new { @class = "control-label col-md-4" })
                
                <div class="col-md-6">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.PhotoGrapherId)

            @*<div class="form-group">
                @Html.LabelFor(model => model.PhotoGrapherId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhotoGrapherId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhotoGrapherId, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Change Password" class="btn btn-warning" />
                </div>
            </div>
        </div>
            </div>
    }






   </section>
